*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.projects_section {
  width: 100%;
}

.projects {
  width: 100%;
}

.projects li{
  margin: 18px;
}

.projects li section{
  outline: 2px solid #e5e5e5 !important;
  position: relative;
}

.caption {
  position: absolute;
  transform:translate(-50%,-50%);
  top:82%;
  left:50%;
  text-align: center;
  background:rgba(255,255,255,0.7);
  width: 100%;
  height: 36%;
}

.caption h1 {
  font-family: "Roboto";
  font-size: 2.5em;
  padding-top: 3.5%;
}

.caption p {

}

@media (max-width: 400px) {
  .caption p {
    display: none;
  }
}

.caption span {
  width: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.caption span i {
  text-align: center;
  font-size: 50px;
}

.description {
  display: none;
  background-color: #e5e5e5;
}

.projects p {
  font-family: Arial;
  padding: 6px;
  font-size: 16px;
}

.projects img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
