*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.projects_section {
  width: 100%;
}

.projects {
  width: 100%;
}

.projects li{
  margin: 24px;
}

.projects li section{
  outline: 2px solid #e5e5e5 !important;
  position: relative;
}

.caption {
  position: absolute;
  transform:translate(-50%,-50%);
  top:82%;
  left:50%;
  text-align: center;
  background: rgba(255,255,255,0.7);
  width: 100.2%;
  height: 36.2%;
}

.caption h1 {
  font-family: "Roboto";
  font-size: 10vw;
  padding-top: 3.5%;
}

.caption span {
  width: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.caption span i {
  text-align: center;
  font-size: 15vw;
}

@keyframes rotate_up {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(180deg);}
}

@keyframes rotate_down {
  from {-webkit-transform: rotate(180deg);}
  to {-webkit-transform: rotate(0deg);}
}

.brief {
  display: none;
}

@keyframes show_brief {
  from {
    top: 82%;
    height: 36.2%;
    background: rgba(255,255,255,0.7)
  }

  to {
    top: 50%;
    height: 100.2%;
    background: rgba(255,255,255,1)
  }
}

@keyframes hide_brief {
  from {
    top: 50%;
    height: 100.2%;
    background: rgba(255,255,255,1)
  }

  to {
    top: 82%;
    height: 36.2%;
    background: rgba(255,255,255,0.7)
  }
}

@keyframes show_brief_opacity {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes hide_brief_opacity {
  from {opacity: 1;}
  to {opacity: 0;}
}

.description {
  display: none;
  background-color: #e5e5e5;
}

.projects p {
  font-family: Arial;
  padding: 6px;
  font-size: 5vw;
}

.projects img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.projects_about {
  display: none;
}
