*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.projects_section {
  width: 100%;
}

.projects {
  width: 100%;
  text-align: justify;
  text-align-last: center;
}

.projects li {
  vertical-align: top;
  width: 28%;
  padding-left: 0.7%;
  padding-right: 0.7%;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
}

.projects li section {
  outline: 2px solid white !important;
  position: relative;
}

.caption {
  position: absolute;
  transform:translate(-50%,-50%);
  top:85.2%;
  left:50%;
  text-align: center;
  background:rgba(255,255,255,0.7);
  width: 100%;
  height: 30%;
}

.caption h1 {
  font-family: "Roboto";
  font-size: 2.8vw;
  padding-top: 1%;
}

.caption p {
}

.projects li section span {
  width: 100%;
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  right: 0;
}

.projects li:hover {
  cursor: pointer;
  width: 31%;
  animation-name: grow;
  animation-duration: 1s;
}

@keyframes grow {
  from {width: 28%;}
  to {width: 31%;}
}

.projects li:not(:hover) {
  animation-name: shrink;
  animation-duration: 1s;
}

@keyframes shrink {
  from {width: 31%;}
  to {width: 28%;}
}

.projects li section span i {
  padding-bottom: 1%;
  text-align: center;
  font-size: 4.4vw;
  transform: rotate(0deg);
}

@keyframes rotate_up {
  from {-webkit-transform: rotate(0deg);}
  to {-webkit-transform: rotate(180deg);}
}

@keyframes rotate_down {
  from {-webkit-transform: rotate(180deg);}
  to {-webkit-transform: rotate(0deg);}
}

.brief {
  display: none;
}

.description h1 {
  text-align: center;
  font-family: "Roboto";
  padding-top: 12px;
}

.description p {
  margin: 32px;
  font-size: calc(1vw + 10px);
  font-family: "Roboto";
}

.projects img {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projects_about {
  display: block;
  margin: 18px auto;
  width: 75%;
  background-color: white;
  height: 500px;
  overflow: hidden;
}

.description {
  display: none;
  overflow: hidden;
  position: absolute;
  width: 75%;
  z-index: 1;
  background: white;
}

#about_projects {
  display: block;
  z-index: 0;
}

@keyframes reveal {
  from {height: 0;}
  to {height: 500px;}
}

@keyframes hide {
  from {height: 500px;}
  to {height: 0;}
}
