*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

title {
  width: 100%;
  height: auto;
}

main {
  width: 90%;
  margin: auto;
}

main h1 {
  text-align: center;
  font-family: "Roboto";
  font-size: 64px;
  padding: 18px;
}

section {
  padding: 12px;
}

.Asection {
  display: inline-block;
  width: 75%;
  vertical-align: top;

}

.Bsection {
  display: inline-block;
  width: 24%;
}

section p {
  font-family: "Roboto";
  font-size: 24px;
}

section h2 {
  font-family: "Roboto";
  font-size: 32px;
}

section a{
  text-decoration: underline;
  text-decoration-color: blue;
}

section img{
  max-width: 400px;
}
