*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

.post {
  width: 90%;
  margin: 18 auto;
  padding: 8px;
  border: solid;
}

.post h1 {
  font-family: "Roboto";
  font-size: 32px;
}

.post p {
  font-family: "Roboto";
  font-size: 16px;
}

.post a {
  color: blue;
  font-family: "Roboto";
  font-size: 16px;
  text-decoration: underline;
}
